<!DOCTYPE html>
<head>  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/style.css" />
    
    </head>
<body>
    
    <section id="user-input">
       <div>Vanjska stranica</div>
       <form method="POST" id="ff" action="http://localhost:3000/csrf_attack">
        <button type="submit">Submit</button>
       </form>
    </section>
   
      
</body>